{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "type": "node",
            "request": "launch",
            "name": "Launch Program",
            "program": "${workspaceFolder}/src/doit.ts",
            "preLaunchTask": "npm: compile",
            "outFiles": ["${workspaceFolder}/dist/**/*.js"],
            "args": [
                "-d",
                "true",
                "-u",
                "username@example.com",
                "-p",
                "password",
                "-t", // or "-r" to crawl daily reviews
                "true",
                "-s",
                "2014-10-01"
            ]
        }
    ]
}