{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "type": "node",
            "request": "launch",
            "name": "Launch Task Command",
            "program": "${workspaceFolder}/src/doit.ts",
            "preLaunchTask": "npm: compile",
            "outFiles": ["${workspaceFolder}/dist/**/*.js"],
            "args": [
                "task",
                "-d",
                "true",
                "-u",
                "username@example.com",
                "-p",
                "password",
                "-s",
                "2019-08-01"
            ]
        },
        {
            "type": "node",
            "request": "launch",
            "name": "Launch Someday Command",
            "program": "${workspaceFolder}/src/doit.ts",
            "preLaunchTask": "npm: compile",
            "outFiles": ["${workspaceFolder}/dist/**/*.js"],
            "args": [
                "someday",
                "-d",
                "true",
                "-u",
                "username@example.com",
                "-p",
                "password"
            ]
        },
        {
            "type": "node",
            "request": "launch",
            "name": "Launch Review Command",
            "program": "${workspaceFolder}/src/doit.ts",
            "preLaunchTask": "npm: compile",
            "outFiles": ["${workspaceFolder}/dist/**/*.js"],
            "args": [
                "review",
                "-d",
                "true",
                "-u",
                "username@example.com",
                "-p",
                "password",
                "-s",
                "2019-10-12"
            ]
        }
    ]
}